*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b826f1;
    padding: 5px 5%;
    position: sticky;
    z-index: 100;
    top: 0;
}
.logo{
    width: 100px;
}
.MobileLogo{
    display: none;
}
.MobileIcons{
    display: none;
}
.searchbox{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 40px;
}
.searchbox img{
    width: 18px;

}
.searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.right-content{
    align-items: center;
    display: flex;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.MobileBody{
    display: none;
    margin: auto;
    
}
.DesktopBody{
    display: flex;
    margin: auto;
}
.DesktopBody .Home{
    width: 40%;
    margin: auto;
    min-height: 100vh;
}
.DesktopBody .Message{
    width: 25%;
    margin: auto;
    min-height: 100vh;
}
.DesktopBody .Notification{
    width: 25%;
    margin: auto;
    min-height: 100vh;
}
.FullBox{
    min-height: 450px;
    width: 100%;
    border: 2px solid;
    margin: auto;
}
.like{
    height: 30px;
    width: 33%;
    border: 1px solid;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.comment{
    height: 30px;
    width: 33%;
    border: 1px solid;
    margin: auto;
}
.share{
    height: 30px;
    width: 33%;
    border: 1px solid;
    margin: auto;

}
.Notification{
    border-collapse: collapse;
}
.NotificationBar{
    width: 100%;
    min-height: 35px;
    border: 2px solid;
    border-collapse: collapse;
}
@media(max-width:991px){
    .logo{
        display: none;
    }
    .MobileLogo{
        display: block;

        
    }
    .MobileIcons{
        display:flex;
        background-color: #b826f1;
        justify-content: space-evenly;
    }
    .MobileIcons img
    {
        width: 64px;
        height: 64px;
    }
    .searchbox{
        display: none;
    }
    nav{
        display: flex;
        align-items:  flex-start;
        justify-content: space-between;
        background: #b826f1;
        padding: 5px 5%;
        position: sticky;
        z-index: 100;
        top: 0;
    }
    .MobileBody{
        display: flex;
        margin: auto;
        
    }
    .DesktopBody{
        display: none;
    }
}