*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b826f1;
    padding: 5px 5%;
    position: sticky;
    z-index: 100;
    top: 0;
}
.logo{
    width: 100px;
}
.MobileLogo{
    display: none;
}
.MobileIcons{
    display: none;
}
.searchbox{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.searchbox img{
    width: 18px;

}
.searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.right-content{
    display: flex;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    bottom: 5px;
    right: 0;
}
@media(max-width:991px){
    .logo{
        display: none;
    }
    .MobileLogo{
        display: block;
        
    }
    .MobileIcons{
        display:flex;
        background-color: #b826f1;
        justify-content: space-evenly;
    }
    .searchbox{
        display: none;
    }
    nav{
        display: flex;
        align-items:  flex-start;
        justify-content: space-between;
        background: #b826f1;
        padding: 5px 5%;
        position: sticky;
        z-index: 100;
        top: 0;
    }
}